:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .photo {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  :host {
    .photo {
      width: 70%;
    }
  }
}

