<div class="header">
  <div class="mat-headline-4">
    Users:
  </div>
  <button mat-fab class="back-button" color="accent" (click)="toggleDrawer(false)">
    <mat-icon>east</mat-icon>
  </button>
</div>
<mat-button-toggle-group [value]="buttonToggleGroupValue" class="user-list">
  <div class="user" *ngFor="let user of users">
    <mat-button-toggle class="info-container" [value]="user.id" (click)="selectUser(user.id)">
      <div class="name">{{user.name}}</div>
      <div class="username">{{user.username}}</div>
    </mat-button-toggle>
    <button mat-icon-button class="settings-button" color="primary" (click)="openUserEdit(user.id)">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</mat-button-toggle-group>
<button mat-fab class="add-button" (click)="openUserEdit(0)">
  <mat-icon>add</mat-icon>
</button>
