:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header, .add-button {
    margin: 2rem;
  }

  .user-list {
    padding: 1rem;

    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;


    .user {
      width: 90%;
      padding-left: 1rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .info-container {
        width: 80%;
        user-select: none;
        cursor: pointer;

        .name {
          font-weight: bold;
          font-size: 1.2rem;
        }

        .username {
          font-size: 1.1rem;
        }
      }

      .settings-button {
        margin: 0.5rem;

        mat-icon {
          display: flex;
          justify-self: flex-end;

        }
      }
    }
  }

  .add-button {

  }
}
