:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header, .add-button {
    margin: 2rem;
  }

  .user-list {

    .user {

    }
  }

  .add-button {

  }
}
